button{
  padding: 15px 20px;
  background: #2977f5;
  color: #fff;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-block-end: 3rem;
  width: 200px;
  margin-block-start: 30px;
}
.haha{
  display:flex;
  align-content: center;
}
.n{
   padding: 5px 5px;
  background: #2977f5;
  color: #fff;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-block-end: 3rem;

  margin-block-start: 30px;
}